{% extends 'todoapp/base.html' %} {% block 'main' %}

<div class="row">
    <div class="col-md-5 shadow my-5 mx-auto  p-4">
        {% if errmsg %}
        <div class="alert alert-danger">
            {{errmsg}}
        </div>
        {% endif %}

        <h4 align="center" class="my-4">User Register</h4>
        <hr>
        <form method="POST" action="">


            {% csrf_token %}

            <div class="mb-3">
                <label for="Input1" class="form-label"><strong>Username:</strong> </label>
                <input type="email" class="form-control" name="uname" id="Input1" placeholder="Enter email">
            </div>

            <div class="mb-3">
                <label for="Input2" class="form-label"><strong>Password:</strong> </label>
                <input type="password" class="form-control" name="upass" id="Input2" placeholder="Enter Password">
            </div>

            <div class="mb-3">
                <label for="Input3" class="form-label"><strong>Confirm Password:</strong> </label>
                <input type="password" class="form-control" name="ucpass" id="Input3" placeholder="Confirm password">
            </div>


            {% if success %}
            <div class="alert alert-danger">
                {{success}}
            </div>
            {% endif %} {{fdata}}
            <tr>
                <td colspan="2" align="center"> <input type="submit" value="Register" class="btn btn-danger"></td>
                Already User? &nbsp;&nbsp <a href="/login" style="text-decoration: none;">Login</a>
            </tr>
            </table>
        </form>
    </div>
</div>

{% endblock 'main' %}


